<div *ngIf="ErrorView">
  <button routerLink="/home">Back To Home</button>
  <div class="not-user">
    User Not Found
  </div>

</div>


<ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader>


<div *ngIf="!ErrorView" class="github-card user-card">
  <div class="favorite-icon">
    <div *ngIf="!user?.isFavorite" (click)="addToFavorite()">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50"
        style=" fill:#000000;">
        <path
          d="M 25 0.83398438 L 24.068359 3.2382812 L 18.599609 17.337891 L 0.8671875 18.347656 L 14.666016 29.566406 L 10.056641 46.654297 L 25 36.990234 L 39.943359 46.654297 L 35.333984 29.566406 L 49.132812 18.347656 L 31.400391 17.337891 L 25 0.83398438 z M 25 6.3632812 L 30 19.261719 L 43.867188 20.052734 L 33.066406 28.833984 L 36.65625 42.146484 L 25 34.609375 L 13.34375 42.146484 L 16.933594 28.833984 L 6.1328125 20.052734 L 20 19.261719 L 25 6.3632812 z">
        </path>
      </svg>
    </div>
    <div *ngIf="user?.isFavorite" (click)="addToFavorite()">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 172 172"
        style=" fill:#000000;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
          stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
          font-size="none" text-anchor="none" style="mix-blend-mode: normal">
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <g fill="#f1c40f">
            <path
              d="M86,128.1185l48.9555,29.54817l-12.99317,-55.685l43.25083,-37.46733l-56.9535,-4.83033l-22.25967,-52.51733l-22.25967,52.51733l-56.9535,4.83033l43.25083,37.46733l-12.99317,55.685z">
            </path>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="header User"></div>
  <a class="avatar" [href]="'https://github.com/'+user?.login">
    <img [src]="user?.owner?.avatar_url+'&amp;s=80'" [alt]="user ? user?.name : ''" />
  </a>
  <div class="content">
    <h1>{{user?.owner?.login}}</h1>
    <ul class="status">
      <li>
        <strong>{{user?.watchers_count}}</strong>Watchers
      </li>
      <li>
        <strong>{{user?.forks_count}}</strong>Forks
      </li>
      <li>
        <strong>{{user?.open_issues_count}}</strong>Open Issues
      </li>
    </ul>
  </div>
</div>