<div class="main-search">
  <form action="">
    <label class="search-label" for="">enter the count of the required data</label>
    <div>
      <input class="search" type="search" placeholder="Count To 100" [(ngModel)]="inputData"
        [ngModelOptions]="{standalone: true}">
      <button (click)="getUsers()" class="search-btn">Continue</button>
    </div>
  </form>
</div>


<div *ngIf="UsersInfo.length" class="col-lg-10">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Condensed Table
    </div>
    <div class="card-body">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Owner</th>
            <th>Repositories</th>
            <th>Stars</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="goMore(infos.id)" class="user-info"
            *ngFor="let infos of UsersInfo | paginate: { itemsPerPage: 8, currentPage: cp }">
            <td>{{infos.fullName}}</td>
            <td>{{infos.owner}}</td>
            <td>{{infos.repositories}}</td>
            <td>{{infos.stars}}</td>
          </tr>
          <pagination-controls class="pagination" (pageChange)="cp = $event"></pagination-controls>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader>