.main-search {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.search-label{
    font-size: 16px;
    text-transform: capitalize;
    color: orange;
}

.search {
    margin-top: 5px;
    height: 50px;
    width: 250px;
}

.search-btn {
    height: 50px;
    background-color: orange;
    color: black;
}

.search-btn:hover {
    height: 50px;
    background-color: rgb(230, 156, 19);
    color: rgb(12, 11, 11);
}